HTTP_ADDR=:8080
DB_SCRIPT=init_db.sh
DB_NAME=angio_db
DB_USER=angio_user
DB_PASS=change-me
DB_DRIVER=postgres
MIGRATIONS_DIR=internal/sql/migrations
DB_DSN=postgres://angio_user:change-me@localhost:5432/angio_db?sslmode=disable
APP_NAME=viewer_backend
BUILD_DIR=./bin
